/*mobile first*/
#aboutus{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: white;
}
.aboutboxes{
    width: 20%;
    margin: 50px auto;
    height: 300px;
    width: 200px;
    padding: 30px;
    text-align: center;
    background-color: #f4f4f4;
    
}

.aboutboxes h4{
    font-size: 1.2em;
    color: #7cb920;
}
.middlepics:hover{
    transform: scale(1.3); 
}
.iconscontainer{
    text-align: center;
    margin: 5px;
}
.icons{
    padding: 10px;
    margin-left: 5px;
    background-color: #0B85C2;
    color: white;
    border-radius: 50%;
}
.icons:hover{
    transform: scale(1.1); 
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0B85C2;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #0c4265;
}
.logo{
    width:100%;
}
.call{
    display: block;
}
.mainpic{
    width: 90%;
    display: block;
    margin: auto;
}
.map{
    width: 90%;
    display: block;
    margin: 0 auto;
}
.price{
    width: 90%;
    display: block;
    margin: auto;
}

#hours{
    clear: both;
    
    background-color: white;
}
.testytitle{
    margin-left: 150px;
}
.testy{
    font-size: 1.7em;
    padding: 20px;
    margin: 20px;
    background-color: #f4f4f4;
}
.fa-star{
    color: orange;
}
.signature{
    text-align: right;
    font-size: .8em;
    font-style: italic;
}
.hours{
    clear: both;
    margin: 30px;
    font-size: 1.5em;
}
.hourstable{
    border: 3px solid black;
}
.hourstable td{
    padding: 6px;
}
.rowA{
    background-color: #f4f4f4;
}



.caller{
    background-color: #7cb920;
    margin: 20px 0px 0px 0px;
    padding: 20px 0px;
    width: 100%;
    text-align: center;
    font-size: 1.6em;
    font-style: italic;
    color: white;
    text-shadow: 2px 2px 5px black;
}
footer{
    background-color: #616161;
    height: 150px;
    color: white;
    bottom: 0;
    font-weight: normal;
    text-shadow: 2px 2px 5px black;
}
footer h3{
    margin-top: 0px;
    padding: 10px;
}
footer p{
    padding: 5px 10px;
}
footer a{
    text-decoration: none;
    color: lightblue;
}
/*just for the icons in the header*/
@media all and (min-width: 1220px){
.iconscontainer{
    display: inline-block;
    text-align: center;
    position: absolute;
    left: 450px;
    top: 20px;

}
.icons{
    padding: 20px;
    margin-left: 5px;
    background-color: #0B85C2;
    color: white;
    border-radius: 50%;
}
.icons:hover{
    transform: scale(1.1); 
}
}

/*@media all and (min-width: 416) and (max-width: 1219px){
.iconscontainer{
    text-align: center;
    margin: 5px;
}
.icons{
    padding: 10px;
    margin-left: 5px;
    background-color: #0B85C2;
    color: white;
    border-radius: 50%;
}
.icons:hover{
    transform: scale(1.1); 
}
.call{
    display: block;
}
}*/
/*desktop and tablet*/
@media all and (min-width: 416px){

body{
    margin: 0 30px;
    background-color: #f4f4f4;
}
.container{
    background-color: white;
}
.header{
    height: 110px;
    background-color: white;
}
.logo{
    width: 400px;
    margin-top: 27px;
}
.call{
    position: absolute;
    right: 70px;
    top: 40px;
    text-align: right;
    font-size: 1.7em;
    font-style: italic;
}

#home{
    width: 100%;
    background-color: white;
}
.mainpic{
    display: block;
    margin: 0 auto;
}
.cost {
    text-align: center;
    font-size: 2em;
}
.map{
    float: left;
    width: 600px;
    height: 450px;
}
.price{
    max-width: 550px;
}
hr{
    margin: 30px 0px;
}
#location{
    background-color: white;
}
#hours{
    clear: both;
    display: flex;
    background-color: white;
}
.testytitle{
    margin-left: 150px;
}
.testimonials{
    
    flex-basis: 70%;
}
.testy{
    font-size: 1.7em;
    padding: 20px;
    margin: 20px;
    background-color: #f4f4f4;
}
.fa-star{
    color: orange;
}
.signature{
    text-align: right;
    font-size: .8em;
    font-style: italic;
}
.hours{
    
    flex-basis:25%;
    margin: 30px;
    font-size: 1.5em;
}
.hourstable{
    border: 3px solid black;
}
.hourstable td{
    padding: 6px;
}
.rowA{
    background-color: #f4f4f4;
}
.rowB{

}
.caller{
    /*uses styling from outside of media query*/
    font-size: 2em;

}
footer{
    background-color: #616161;
    height: 200px;
    color: white;
    bottom: 0;
    font-weight: normal;
    text-shadow: 2px 2px 5px black;
}
footer h3{
    margin-top: 0px;
    padding: 50px;
}
footer p{
    padding: 25px 50px;
}
footer a{
    text-decoration: none;
    color: lightblue;
}
}